<?xml version="1.0" encoding="utf-8"?>
<configuration>
<location path="." inheritInChildApplications="false">
<system.webServer>
<handlers>
<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
</handlers>
<aspNetCore processPath="dotnet"
arguments=".\PmHrmsAPI.dll"
stdoutLogEnabled="true"
stdoutLogFile=".\logs\stdout"
hostingModel="inprocess">
<environmentVariables>
<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
<environmentVariable name="ConnectionStrings__DefaultConnection" value="Data Source=14.192.17.204;User Id=sa-shootbucket;Password=Perk123!@#;Initial Catalog=PerkMindsHRMS;Integrated Security=False;Encrypt=False" />
<environmentVariable name="Jwt__Key" value="ThisIsASecretKeyForMyHrmsApp1234567890" />
<environmentVariable name="Jwt__Issuer" value="PmHrmsAPI" />
<environmentVariable name="Jwt__Audience" value="PmHrmsUsers" />
</environmentVariables>
</aspNetCore>
</system.webServer>
</location>
</configuration>
<!--ProjectGuid: 2A323389-9CF5-4791-BE72-D40DAF02154B-->