


ConnectionStrings__DefaultConnection=Data Source=14.192.17.204;User Id=sa-shootbucket;Password=Perk123!@#;Initial Catalog=PerkMindsHRMS;Integrated Security=False;Encrypt=False

Jwt__Key=ThisIsASecretKeyForMyHrmsApp1234567890
Jwt__Issuer=PmHrmsAPI
Jwt__Audience=PmHrmsUsers

MailSettings__Mail=dev@perkminds.com
MailSettings__UserName=perkminds-smtp
MailSettings__Password=pvOZjks7UmbGXbXf
MailSettings__Host=mail.smtp2go.com
MailSettings__Port=2525
MailSettings__Token=9D743E3B6CB3458EB1909DE619FD104A
